<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Cab{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cab/css/style.css') }}"/>
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="row row_header">
                <div class="col s6 ">
                     <h1>#CabSead</h1>
                </div>
                <div class="col s6 ">
                    <nav class="test">
                        <ul>
                            <li><a href="{{ path('community_myIndex') }}">My communities</a></li>
                            <li><a href="{{ path('community_index') }}">Communities</a></li>
                            <li><a href="{{ path('community_new') }}">New community</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">sign up</a></li>
                            <!--ROUTE A DEFINIR-->
                            <li><a href="{{ path('fos_user_security_login') }}">login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
            {% block body %}
            {% endblock %}

            {% block login %}
            {% endblock %}
        <footer>
            <div class="row row_header">
                <div class="col s6 ">
                    <img src="http://www.returnonkeycomponent.com/wp-content/uploads/2015/08/insead-logo.png"  width="250px"
                         height="150px" alt="logo-insead">
                </div>
            </div>
        </footer>

            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
            <script src="{{ asset('bundles/cab/js/cab.js') }}"></script>
            {% block javascripts %}{% endblock %}

    </body>
</html>

