{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block login %}
<div class="row">
    <div class="col s12">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    </div>

<div class="row">
    <div class="input-field col s12">
        <label for="username" >{{ 'security.login.username'|trans }}</label>
        <input class="input-size" type="text" id="username" name="usename">
    </div>
</div>


<div class="row">
    <div class="input-field col s12">
        <label for="phone" >{{ form_widget(form.phone)}}</label>
        <input class="input-size" type="text" id="phone" name="phone">
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <label for="email" >{{ form_widget(form.email)}}</label>
        <input class="input-size" type="text" id="email" name="email">
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <label for="password">{{ form_widget(form.plainPassword) }}</label>
        <input class="input-size" type="text" id="password" name="password">
    </div>
</div>

<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}

{% endblock  %}