{% extends 'base.html.twig' %}

{% block body %}
<div class="parallax-container">
    <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
</div>
<div id="community">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h4>Communities</h4>
                <a href="{{ path('community_new') }}"class="waves-effect waves-light btn-large btn z-depth-5 teal darken-4 new">NEW COMMUNITY</a>
            </div>



            <div class="col s6">
                <div class="input-field  col s12">
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Search</label>
                </div>
            </div>
        </div>
        <!-- ligne 1-->
        {% for community in communities %}
        <div class="row">
            <div class="offset-s5 col s1">
                <a href="{{ path('community_myIndex', {'id': community.id }) }}" class="btn-floating btn-large waves-effect waves-light z-depth-5 red"><i class="material-icons">add</i></a>
            </div>
            <!-- Modal community -->

            <div class=" col s6">
                <a class="community waves-effect waves-light btn z-depth-5 teal darken-4" href="#modalCommunity{{ community.id }}"><i class="material-icons left">supervisor_account</i>{{ community.id }}{{ community.name }}</a>

                <!-- Modal Structure -->

                <div id="modalCommunity{{ community.id }}" class="modal bottom-sheet">
                    <div class="modal-content">

                        <!-- Modal Trip -->
                        <div class="row">
                            <div class="col s6">
                                <h4>Trips</h4>
                                <a href="{{ path('trip_new', {'id': community.id }) }}"class="waves-effect waves-light btn-large btn z-depth-5 teal darken-4 new">NEW TRIP</a>
                            </div>
                        </div>
                        {% for trip in community.trips %}
                        <div class="row">

                            <div class="col s6 offset-s6">
                                <a class="waves-effect waves-light btn" href="#modalTrip{{ trip.id }}">{{ trip.name }}</a>
                                <!-- Modal Structure -->
                                <div id="modalTrip{{ trip.id }}" class="modal">
                                    <div class="modal-content">
                                        <h3>{{ trip.name }}</h3>
                                        <p> {% if trip.date %}{{ trip.date|date('Y-m-d H:i:s') }}{% endif %}<br/>
                                            from : {{ trip.departure }} <br/>
                                            to : {{ trip.arrival }}<br/>
                                            spots: {{ trip.spots }}<br/>
                                            cost: {{ trip.cost }}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn-floating btn-large waves-effect waves-light red">GO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {#<div class="row">
                            <div class="offset-s5 col s1">
                                <a href="{{ path('trip_new', {'id': community.id }) }}" class=" btn-floating btn-large waves-effect waves-light z-depth-5 red"><i class="material-icons">add</i></a>
                            </div>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
</div>
{% endblock %}




