{% extends 'base.html.twig' %}

{% block body %}
    <h1>Communities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for community in communities %}
            {#{% if app.user == community.name %}#}
            <tr>
                <td><a href="{{ path('community_show', { 'id': community.id }) }}">{{ community.id }}</a></td>
                <td>{{ community.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('community_show', { 'id': community.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('community_edit', { 'id': community.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {#{% endif %}#}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('community_new') }}">Create a new community</a>
        </li>
    </ul>
{% endblock %}
