{% extends 'base.html.twig' %}




{% block body %}
    <div class="parallax-container parallax-custom">
        <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
    </div>

<div id="newcommunity">

    <div class="container">
        <div class="row">
            <div class="col s6">
                <h4>New community</h4>
            </div>
        </div>
        <div class="row">
            <div class="input-field z-depth-5 offset-s4 col s4 offset-s4">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

            </div>
        </div>
        <div class="row">
            {#<div class="offset-s5 col s1">#}
                {#<a href="{{ path ('cab_mycommunity') }}" class="btn-floating btn-large waves-effect waves-light z-depth-5 red">Ok</a>#}
            {#</div>#}


        </div>
        <div class="row">
            <div class="offset-s5 col s1">
                <input class="btn z-depth-5 teal darken-4" type="submit" value="Create" />
                {{ form_end(form) }}
                {#<a href="{{ path ('community_index') }}" class="btn-floating btn-large waves-effect waves-light z-depth-5 red"><i class="material-icons">add</i></a>#}
            </div>
        </div>
    </div>

</div>
    <div class="parallax-container parallax-custom">
        <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
    </div>
{% endblock %}