{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block login %}
    <div class="parallax-container">
        <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
    </div>


    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
      {# <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}#}

    <div class="container login">
    <div class="row">
        <div class="input-field col s6">
            <a href="{{ path('') }}"class="waves-effect waves-light btn-large btn z-depth-5 teal darken-4 create">CREATE</a>
        </div>
        <div class="input-field col s6">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6 offset-s6">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input id="password" type="password" name="_password" required="required" class="validate"/>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6 offset-s6">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6 offset-s6">
            <a href="{{ path('community_index') }}"class="waves-effect waves-light btn z-depth-5 teal darken-4">ok
            {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            </a>
            {% endif %}
        </div>
    </div>
</div>
</form>
    <div class="parallax-container">
        <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
    </div>

{% endblock %}




